{% extends "imdb/layout.html" %}


{% block head %}
<style>


</style>
{% endblock %}

{% block body %}


<div id="a-all">
    <div id="all-l">
    <h2 id="h2">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" id="f">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" id="f">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" id="f">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" id="f">
        </div>
        <div class="d-grid gap-2" id="d-grid">
            <input class="btn btn-warning" type="submit" value="Register" id="b-lo">
        </div>
    </form>
</div>
    <span id="don">Already have an account?</span>  <a href="{% url 'login' %}" id="a-don">Login here.</a>
</div>
{% endblock %}